main {
  background-image: linear-gradient(to right bottom, rgba(255, 222, 233, 0.8), rgba(181, 255, 252, 0.8)),
    url(./assets/backgroundColor.jpg);
  background-size: cover;
  background-position: top;
}
